# this file is to configure access to the /data directory

alias /sites {{ dim_target_directory }}

<LocationMatch "^/sites+$">
    Options +Indexes
    ErrorDocument 403 /.noindex.html
</LocationMatch>

<Directory {{ dim_target_directory }}>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
