---
# tasks file for common
- name: install epel repository
  become: yes
  yum: name=epel-release state=latest

- name: upgrade local environment
  become: yes
  yum:  name=*
        update_cache=yes
        state=latest

- name: set time to utc
  become: yes
  file: src=/usr/share/zoneinfo/UTC dest=/etc/localtime state=link force=yes

- name: set hostname
  become: yes
  command: hostnamectl set-hostname {{ inventory_hostname }} --static
